<!-- styles remove for clarity -->
 
<script type="text/x-kendo-template" id="contactEdit">
        <section class="content-wrapper main-content clear-fix">               
                <div class="k-block" style="width:600px; margin-top:35px">           
                        <div class="k-block k-info-colored">
                                <strong>Note: </strong>Please fill out all of the fields in this form.
                            </div>
                        <div id="contact-edit-form">
                          
                                    <dt>
                                        <label for="firstName">First Name:</label></dt>
                                    <dd>
                                        <span class="k-textbox k-space-right">
                            <input id="firstName" type="text" data-bind="value: firstName" />
                           
                        </span>
                                    </dd>
                                    <dt>
                                        <label for="lastName">Last Name:</label></dt>
                                    <dd>
                                        <span class="k-textbox k-space-right">
                            <input id="lastName" type="text" data-bind="value: lastName" />
                        
                        </span>
                                    </dd>
                                   

                                <a class="k-button" data-bind="click: saveContact"><span span class="k-icon k-i-tick"></span> Submit</a>
                                <a class="k-button" data-bind="click: cancel"><span span class="k-icon k-i-tick"></span> Cancel</a>
                            </div>
                    </div>
            </section>
</script>
 
<script>
    var get__KEY = function () { // parse for ProductId from url
        var array = window.location.href.split('/');
        var __KEY = array[array.length - 1];
        return __KEY;
    };


    $(document).bind("viewSwtichedEvent", function (e, args) { // subscribe to viewSwitchedEvent
        if (args.name == "contactEdit") { // check if this view was switched to
            var contactModel = kendo.data.Model.define({ // we want to refresh this view anytime its switched to
              //  id: "__KEY",
                fields: {
                    __KEY: { type: "number", editable: false, nullable: true },
                    firstName: { type: "string", validation: { required: true } },
                    lastName: { type: "string", validation: { required: true } },

                },
                saveContact: function (e) {
                    e.preventDefault();
                    dataSource.sync();
                    //window.location.href = '#/contacts';
                },
                cancel: function (e) {
                    e.preventDefault();
                    window.location.href = '#/contacts';
                }
            });

            var crudServiceBaseUrl = "http://127.0.0.1:8081/cors";
            var entity = "/Contact";
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: function (data) {
                            return crudServiceBaseUrl + entity + "(" + get__KEY() + ")";
                        },
                        dataType: "json"
                    },
                    update: {
//                        url: function (data) {
//                        //    delete data.guid;
//                        //    delete data["odata.metadata"];
//                            return   return crudServiceBaseUrl + entity + "/?$method=update"
//                        },
                        url: function (data) {
                            return crudServiceBaseUrl + entity + "/?$method=update"
                        },
                        dataType: "json",
                        contentType: "application/json",
                        type : "POST"
                    },
                    create: {
                        url: function (data) {
                            return crudServiceBaseUrl + entity + "/?$method=update"
                        },
                        dataType: "json",
                        type : "POST"
                    },
                    destroy: {
                        url: function (data) {
                            // return crudServiceBaseUrl + cudEntity + "(" + entity.models[0].__KEY + ")/?$method=delete";
                            return crudServiceBaseUrl + entity + "(" + get__KEY() + ")/?$method=delete";
                        },
                        dataType: "json",
                        type : "POST"
                    },
                    parameterMap: function (data, operation) {
                        if (operation == "create" || operation == "update") {
                          //  delete data.guid;
                          //  delete data["odata.metadata"];
                          //  data.UnitPrice = data.UnitPrice.toString();
                        }
                      //  debugger;
                        return JSON.stringify(data);
                    }
                },
                sync: function (e) {
                    window.location.href = '#/contacts';
                },
                batch: false,
                schema: {
                    type: "json",
                    data: function (data) {
                     //   delete data["odata.metadata"];
                        return data;
                    },
                    total: function (data) {
                        return 1;
                    },
                    model: contactModel
                }
            });
            dataSource.fetch(function() {
                //debugger;
                if (dataSource.view().length > 0) {
                  //  debugger;
                    kendo.bind($("#contact-edit-form"), dataSource.at(0));
                }
            });
        }
    });

</script>